@font-face {
  font-family: Lato-Black;
  src: url(../../assets/Fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../../assets/Fonts/Lato-Regular.ttf);
}

.box-Ux-container {
  position: fixed;
  left: 15vw;
  top: 29vh;
  width: 45em;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  background: linear-gradient(
    90deg,
    rgb(250, 250, 254) 0%,
    rgba(111, 9, 121, 0.8534007352941176) 55%,
    rgb(255, 172, 6) 100%
  );
}

.box-Ux-container img {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  align-items: center;

  border-radius: 10px;
  transform: rotate(0deg);
}
.h3-ui {
  font-family: Lato-Regular;
  letter-spacing: 2px;
  position: absolute;
  top: 14px;
  font-size: 1.4em;
  right: 454px;
  color: rgb(0, 0, 0);
}
.h4-ui {
  letter-spacing: 2px;
  font-family: Lato, serif;
  position: absolute;
  top: 40px;
  right: 400px;
  padding: 2px;
  color: rgb(79, 76, 76);
}

.box-Ux-container h4:hover {
  color: rgb(245, 242, 242);
}
.box-Ux-container h3:hover {
  color: rgb(243, 236, 236);
}
