.files-box-2 {
  position: fixed;
  left: 62vw;
  top: 71vh;
  width: 40em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(252, 252, 255) 0%,
    rgba(111, 9, 121, 0.8534007352941176) 75%
  );
}
.files-box-2 img {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  align-items: center;
  border-radius: 10px;
  transform: rotate(0deg);
}
.h3-file-2 {
  font-family: Lato;
  letter-spacing: 2px;
  position: absolute;
  top: 14px;
  font-size: 1.3em;
  right: 330px;
  color: rgb(0, 0, 0);
}
.h4-file-2 {
  letter-spacing: 2px;
  font-family: Lato;
  position: absolute;
  top: 41px;
  right: 325px;
  color: rgb(79, 76, 76);
}

.files-box-2 h4:hover {
  color: rgb(255, 255, 255);
}
.files-box-2 h3:hover {
  color: rgb(250, 244, 244);
}

.KB-2 {
  position: absolute;
  font-family: Lato;
  color: black;
  left: 85vw;
  top: 74vh;
}
.icones-2 {
  position: absolute;
  font-family: Lato;
  color: rgb(11, 10, 10);
  left: 94vw;
  top: 74vh;
}
.icones-2 :hover {
  color: aliceblue;
}
