@font-face {
  font-family: Lato;
  src: url(../../assets/Fonts/Lato.ttf);
}

.img-diag-container img {
  position: absolute;
  top: 65vh;
  left: 15vw;
  transform: rotate(180deg);
  width: 300px;
  height: 300px;
}

.template {
  font-family: Lato-Regular;
  font-size: 1.1em;
  position: absolute;
  left: 12vw;
  top: 62vh;
}

.Down {
  position: absolute;
  width: 20px;
  left: 47vw;
  top: 62vh;
}
.Edit {
  width: 20px;
  position: absolute;
  left: 50vw;
  top: 62vh;
}
.cartoon {
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  left: 40vw;
  top: 71vh;
}

.pattern {
  width: 10px;
  height: 10px;
  background-color: rgb(149, 4, 190);
  border-radius: 50%;
  position: absolute;
  left: 40vw;
  top: 80vh;
}
.cartoon-txt {
  font-family: lato-regular;
  position: absolute;
  left: 42vw;
  top: 707px;
  font-size: 1.1em;
}
.cartoon-h6 {
  color: darkgrey;
  font-family: lato-regular;
  position: absolute;
  left: 42vw;
  top: 735px;
  font-size: 1em;
}
.Abstract-txt {
  font-family: lato-regular;
  position: absolute;
  left: 42vw;
  top: 800px;
  font-size: 1.1em;
}

.Abstract-h6 {
  color: darkgrey;
  font-family: lato-regular;
  position: absolute;
  left: 42vw;
  top: 825px;
  font-size: 1em;
}
